*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(179, 14, 96)
}
 
.counter-box{
    background-color: #ffffff;
    width: 280px;
    padding: 40px 50px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

#number{
    font-size: 75px;
    font-weight: 700px;
    margin-bottom: 30px;
    color: #333;
    transition: color 0,3s ease;
}


.buttons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button{
    flex: 1;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}


#decrease{
    background: #456767;
}
#decrease:hover{
    background: #d63031;
}

#reset{
    background: #6c5ce7;
}
#reset:hover{
    background: #4834d4;
}

#increase{
    background: #00b894;
}

#increase:hover{
    background-color: #019875;
}